/part01-Part01_10.Story/target/
/part01-Part01_11.VariousVariables/target/
/part01-Part01_12.IntegerInput/target/
/part01-Part01_13.DoubleInput/target/
/part01-Part01_14.BooleanInput/target/
/part01-Part01_15.DifferentTypesOfInput/target/
/part01-Part01_16.SecondsInADay/target/
/part01-Part01_17.SumOfTwoNumbers/target/